*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%)
    --DesaturatedDarkBlue: hsl(214, 17%, 51%)
    --GrayishBlue: hsl(212, 23%, 69%)
    --LightGrayishBlue: hsl(210, 46%, 95%)
}

body{
    background-color:hsl(210, 46%, 95%);
    max-width: 375px;
}

.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5vh;
    font-size: 13px;
}

.card{
    width: 85vw;
    background: white;
    border-radius: 5%;
}

.card .cardImg{
    height: 32vh;
    background-image: url("../images/drawers.jpg");
    background-size: cover;
    border-radius: 5% 5% 0 0;
}

.card .cardContent{
    padding: 5vh 4vh 4vh 4vh;
}

.card .cardContent .cardTitle {
    padding-bottom: 3vh;
    text-align: justify;
    font-weight: 700;
}

.card .cardContent .cardText{
    padding-bottom: 3vh;
}

.card .cardContent .cardBottom{
    background: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.card .cardContent .cardBottom #bottomText{
    width: 10em;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.card .cardContent .cardBottom #name{
    font-weight: 700;
}

.card .cardContent .cardBottom #date{
    font-weight: 500;
    
}

.card .cardContent .cardBottom #avatar{
    width: 15vw;
    border-radius: 50%;
}

.card .cardContent .cardBottom #share{
    display: none;
}

.card .cardContent .cardBottom #shareIcon{
    width: 8vw;
    height: 100%;
    float: right;
    fill: #6e8098;
    background-color: #e6edf7;
    padding: 0.5rem;
    border-radius: 100%;
    z-index: 1;
    align-self: center;
}

.card .cardContent .cardBottom #shareIcon:hover{
    fill: #6e8098;
    background-color:hsl(217, 19%, 35%);
}

@media (min-width: 375px) {
    body{
        max-width: 1440px;
    }
}